body{
  background-image: url("../images/flag1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#wrapper {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
}

textarea, input {
    /*Starts on new line and takes up entire width*/
    display: block;
    width: 100%;
}

textarea {
  height: 150px;
  font-size: 18px;
}

.banner {
  background: white;
}

.history_logo {
  max-height: 100px;
  margin: 20px 0px 0px 20px;
}

.scraper_logo {
    font-family: Magneto;
    color: #B52600;
    font-size: 52px;
    margin-left: 20px;
}

.clearfix {
    clear: both;
}

#articles p {
  margin-bottom: 0px;
  width: 75%;
  padding: 0px;
}

.article {
    margin-bottom: 20px;
    border: solid #B52600 2px;
    border-radius: 10px;
    padding: 10px;
    background: #fffacd;
}

a {
    color: #B52600;
}

a:hover {
    color: #D12C00;
    text-decoration: underline;
}

.save_article {
  float: right;
}

.delete_article {
  float: right;
  margin-left: 10px;
}

.display_notes {
  float: right;
}

#new_note {
  margin-bottom: 10px;
}

.save_note {
  float: right;
}

.delete_note {
  float: right;
}

.note {
  border: solid 0.5px black;
  margin-bottom: 10px;
  padding: 10px;
}

button {
    background-color: #B52600;
    color: white;
}

button:hover {
    background: #D12C00;
}

.nav-button:hover {
    background-color: #B52600;
}