body{
  background-image: url("../images/flag1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#wrapper {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
}

textarea, input {
  display: block;
  width: 100%;
}

textarea {
  height: 150px;
  font-size: 18px;
}

.banner {
    background: red;
}

.history_logo {
  max-height: 100px;
  margin: 10px;
}

#articles p {
  margin-bottom: 0px;
  width: 75%;
  padding: 0px;
}

.article {
  margin-bottom: 20px;
  border: solid red 2px;
  border-radius: 10px;
  padding: 10px;
  background: #fffacd;
}

.save_article {
  float: right;
}

.delete_article {
  float: right;
  margin-left: 10px;
}

.display_notes {
  float: right;
}

#new_note {
  margin-bottom: 10px;
}

.save_note {
  float: right;
}

.delete_note {
  float: right;
}

.note {
  border: solid 0.5px black;
  margin-bottom: 10px;
  padding: 10px;
}